.SingleReviewMainDiv{
    margin: 2vh;
    padding: 2vh;
    border-radius: 2vh;
    margin-left: 7vh;
    height: fit-content;
    background-color: rgba(98, 141, 120, 0.739);
}
.reviewProfile{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
}
.SingleReviewStar{
    width: 4vh;
    height: 4vh;
}
.reviewHead{
    display: flex;
    
    align-items: center;
}